.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

h1 {
    color: #fff;
    font-size: 28;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2e2d4e;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
}

/* Botão do formulário */
form button {
    border-radius: 30px;
    background-color: #8B8AE1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 14px;
}

form button:hover {
    opacity: 0.8;
}

/* Inputs do formulário */
form input {
    border: 1px solid #48456C;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #2E2D4E;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
}

.card p {
    color: #fff;
    font-weight: bold;
}

.card p span {
    font-weight: normal;
}

/* Botão da lixeira */
.card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.card button img {
    width: 100%;
    height: 100%;
}

.card button:hover {
    opacity: 0.5;
}